.filters-container {
    display: flex;
    flex-direction: row;
}

.custom-field {
    width: 100%;
    min-width: 200px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    transition: border 0.2s, box-shadow 0.2s;
}